<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://www.di.se/styles/main.desktop__c07f13037848d9206f2634d4c2261c6b3.css">
    <link rel="stylesheet" href="https://comment.ifragasatt.se/public/main.css">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<style>
    body {
    }
</style>

<body style="background-color:#fbf4f1">
<!--body class="mega-toggle--active"-->
<!-- body class="article__wrapper" -->
    <img src="https://www.di.se/videoplayer/assets/img/partner/di.png"></img>
    <div style="background-color:#fbf4f1" width="100%">
        <table id="table-wrapper"></table>
    </div>

</body>
</html>